/UltraPCB/UltraPCB_KiCAD/UltraPCB_KiCAD-backups
/UltraPCB/UltraPCB_KiCAD/fp-info-cache
/UltraPCB/Components
/UltraPCB/UltraPCB_KiCAD/fp-lib-table
/UltraPCB/UltraPCB_KiCAD/sym-lib-table
/STM32_code/.metadata/